<div class="card metrics__card">
  <div class="card-divider">
    <h2 class="card-title">
      Metrics
    </h2>
  </div>
  <div class="card-section">
    <div class="metrics__row metrics__row--2">
      <%= image_tag "demo-stat-1.png" %>
      <%= image_tag "demo-stat-2.png" %>
    </div>
    <div class="metrics__row metrics__row--2">
      <%= image_tag "demo-stat-3.png" %>
      <%= image_tag "demo-stat-3.png" %>
    </div>
    <div class="metrics__row metrics__row--4">
      <%= image_tag "demo-stat-3.png" %>
      <%= image_tag "demo-stat-3.png" %>
      <%= image_tag "demo-stat-3.png" %>
      <%= image_tag "demo-stat-3.png" %>
    </div>
    <div class="metrics__row metrics__row--4">
      <%= image_tag "demo-stat-3.png" %>
      <%= image_tag "demo-stat-3.png" %>
      <%= image_tag "demo-stat-3.png" %>
      <%= image_tag "demo-stat-3.png" %>
    </div>
  </div>
</div>
