<%
@title = "Decidim Admin"
@activesection = "home"
%>

<%= partial "template_top" %>
<div class="layout-nav">
  <%= partial "home_nav" %>
</div>
<div class="layout-content">
  <div class="container">
    <h1>Decidim Admin</h1>
    <p>
      Welcome to Decidim Admin dashboard.
    </p>

    <div class="dashboard__row dashboard__row--3">
      <%= partial "stats" %>
      <%= partial "metadata" %>
      <%= partial "help" %>
    </div>
    <div class="dashboard__row dashboard__row--2">
      <%= partial "activity_graphs" %>
      <%= partial "logs_dashboard" %>
    </div>
  </div>
</div>
<%= partial "template_bottom" %>
